<h2><%=@list.name %></h2>


  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <div class="movie-card">
        <div class="image-container" style="background-image: url('<%= bookmark.movie.poster_url%>');"></div>
        <div class="content-container">
        <h2><%= bookmark.movie.title %></h2>
        <h2><%= bookmark.movie.rating %></h2>
        <p class="overview"><%= bookmark.movie.overview %></p>
        <%= button_to 'remove movie', list_bookmark_path(@list, bookmark), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>
  <%= link_to 'Back', lists_path, class: 'btn btn-primary' %>
