<h2><%=@list.name %></h2>

  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>

  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <div class="movie-card">
        <div class="image-container" style="background-image: url('<%= bookmark.movie.poster_url%>');"></div>
        <div class="content-container">
        <h2><%= bookmark.movie.title %> - <%= bookmark.movie.rating.round(1)%> <i class="fa-solid fa-star"></i></h2>
        <p class="overview"><%= bookmark.movie.overview %></p>
        <p class="comment"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
        <%= button_to 'Delete', list_bookmark_path(@list, bookmark),
              class: 'delete-button', method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  </ul>
