<%= form_with(model: [@list, @bookmark], local: true) do |form| %>
  <div class="field">
    <%= form.label :movie_id %>
    <%= form.collection_select :movie_id, @movies, :id, :title, prompt: 'Select a movie' %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <%= form.submit %>
<% end %>
